@font-face {
  font-family: 'Wilkysta';
  src: url('/fonts/Wilkysta.woff2') format('woff2'),
       url('/fonts/Wilkysta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Aplicar somente para a palavra NIVELA */
.wilkysta-title {
  font-family: 'Wilkysta', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}